# Auto detect text files and perform LF normalization
* text=auto
This is the start to a new chapter. 
I hope to meet amazing people along the way and take in all the info I can.
I have only taken one coding course in school and have some of the basics down.
Definitely want to get into the more advanced levels of coding.